In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv("./kc_house_data.csv")

n = len(df)

df.drop(["id","date","zipcode","lat","long","sqft_living15","sqft_lot15"], axis = 1, inplace= True)

targets = df[["price","grade"]]

df.drop(["price","grade"], axis = 1, inplace= True)

org_mean, org_std = targets.mean(), targets.std()

targets = targets - targets.mean()
targets = targets/targets.std()

targets.describe()

              price         grade
count  2.161300e+04  2.161300e+04
mean  -3.419074e-17  1.788439e-16
std    1.000000e+00  1.000000e+00
min   -1.266831e+00 -5.663213e+00
25%   -5.941759e-01 -5.588228e-01
50%   -2.453867e-01 -5.588228e-01
75%    2.857643e-01  2.919089e-01
max    1.950254e+01  4.545567e+00

In [44]:
x = df[["sqft_living","sqft_lot"]]

df[["sqft_living","sqft_lot"]] = (x - x.mean())/x.std()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,21613.000000,21613.000000,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,3.370842,2.114757,2.393352e-16,1.315028e-17,1.494309,0.007542,0.234303,3.409430,1788.390691,291.509045,1971.005136,84.402258
std,0.930062,0.770163,1.000000e+00,1.000000e+00,0.539989,0.086517,0.766318,0.650743,828.090978,442.575043,29.373411,401.679240
min,0.000000,0.000000,-1.948846e+00,-3.521677e-01,1.000000,0.000000,0.000000,1.000000,290.000000,0.000000,1900.000000,0.000000
25%,3.000000,1.750000,-7.108783e-01,-2.430431e-01,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,3.000000,2.250000,-1.849871e-01,-1.808034e-01,1.500000,0.000000,0.000000,3.000000,1560.000000,0.000000,1975.000000,0.000000
75%,4.000000,2.500000,5.118460e-01,-1.066855e-01,2.000000,0.000000,0.000000,4.000000,2210.000000,560.000000,1997.000000,0.000000
max,33.000000,8.000000,1.247778e+01,3.950342e+01,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2015.000000,2015.000000

In [55]:
weights = np.random.random(size= (2,12))
bias = np.random.random(size= (1,2))


# make a preditcion matrix using the matrix operations with weights and bias

# measure the loss using pandas methods

array([[0.54930318, 0.83620646]])