In [1]:
import pandas as pd

In [2]:
# csv : comma seperated values

data = pd.read_csv("./data/imdb_top_1000.csv")
# Dataframe --> data

In [3]:
data.shape

(1000, 16)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  995 non-null    object
 1   Year          995 non-null    int64
 2   Certificate   894 non-null    object
 3   Runtime       995 non-null    object
 4   Genre         995 non-null    object
 5   IMDB_Rating   995 non-null    float64
 6   Overview      995 non-null    object
 7   Meta_score    995 non-null    float64
 8   Director      995 non-null    object
 9   Star1         995 non-null    object
 10  Star2         995 non-null    object
 11  Star3         995 non-null    object
 12  Star4         995 non-null    object
 13  No_of_Votes   995 non-null    int64
 14  Gross         826 non-null    object
dtypes: float64(2), int64(2), object(11)
memory usage: 124.4+ KB

In [6]:
data["Meta_score"].fillna(data["Meta_score"].mean(), inplace=True)

In [13]:
data = data.drop([3,4,6,29,56], axis=0)

In [20]:
data.describe()

              Year  IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  1000.000000  843.000000  1.000000e+03
mean   1991.236000     7.949300   77.971530  2.736929e+05
std      23.292936     0.275491   12.376099  3.273727e+05
min    1920.000000     7.600000   28.000000  2.508800e+04
25%    1976.000000     7.700000   70.000000  5.552625e+04
50%    1999.000000     7.900000   79.000000  1.385485e+05
75%    2009.000000     8.100000   87.000000  3.741612e+05
max    2020.000000     9.300000  100.000000  2.343110e+06

In [4]:
data.head(1)

,Poster_Link,Series_Title,Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [5]:
data.tail(2)

,Poster_Link,Series_Title,Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [6]:
data.Series_Title.head()

0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3      The Godfather: Part II
4                12 Angry Men
Name: Series_Title, dtype: object

In [7]:
data.Genre.tail()

995      Comedy, Drama, Romance
996              Drama, Western
997         Drama, Romance, War
998                  Drama, War
999    Crime, Mystery, Thriller
Name: Genre, dtype: object

In [8]:
data[["Year", "Runtime"]].head(3)

   Year  Runtime
0  1994  142 min
1  1972  175 min
2  2008  152 min

In [9]:
data.columns

Index(['Poster_Link', 'Series_Title', 'Year', 'Certificate', 'Runtime',
       'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1',
       'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [10]:
data.loc[4]

Poster_Link     https://m.media-amazon.com/images/M/MV5BMWU4N2...
Series_Title                                         12 Angry Men
Year                                                         1957
Certificate                                                     U
Runtime                                                    96 min
Genre                                                Crime, Drama
IMDB_Rating                                                   9.0
Overview        A jury holdout attempts to prevent a miscarria...
Meta_score                                                   96.0
Director                                             Sidney Lumet
Star1                                                 Henry Fonda
Star2                                                 Lee J. Cobb
Star3                                               Martin Balsam
Star4                                                John Fiedler
No_of_Votes                                                689845
Gross                                                   4,360,000
Name: 4, dtype: object

In [11]:
data["Certificate"][10:21]

10        U
11       UA
12        A
13       UA
14        A
15        A
16       UA
17        A
18    PG-13
19        A
20        U
Name: Certificate, dtype: object

In [12]:
data["Gross"][9:17]

9      37,030,102
10    315,544,750
11    330,252,182
12      6,100,000
13    342,551,365
14    171,479,930
15     46,836,394
16    290,475,067
Name: Gross, dtype: object

In [13]:
data.loc[9:20][["Gross","Runtime","Director"]]

          Gross  Runtime         Director
9    37,030,102  139 min    David Fincher
10  315,544,750  178 min    Peter Jackson
11  330,252,182  142 min  Robert Zemeckis
12    6,100,000  161 min     Sergio Leone
13  342,551,365  179 min    Peter Jackson
14  171,479,930  136 min   Lana Wachowski
15   46,836,394  146 min  Martin Scorsese
16  290,475,067  124 min   Irvin Kershner
17  112,000,000  133 min     Milos Forman
18          NaN  160 min      Thomas Kail
19   53,367,844  132 min     Bong Joon Ho
20          NaN  153 min    Sudha Kongara

In [15]:
data.at[6,"Gross"]

'107,928,762'

In [17]:
data.iloc[9:20,2:5]

    Year Certificate  Runtime
9   1999           A  139 min
10  2001           U  178 min
11  1994          UA  142 min
12  1966           A  161 min
13  2002          UA  179 min
14  1999           A  136 min
15  1990           A  146 min
16  1980          UA  124 min
17  1975           A  133 min
18  2020       PG-13  160 min
19  2019           A  132 min

In [18]:
data.iat[10,5]

'Action, Adventure, Drama'