In [1]:
import pandas as pd

data = pd.read_csv("./data/Port_Data.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 480 non-null    int64
 1   Country                    480 non-null    object
 2   Port Name                  480 non-null    object
 3   UN Code                    468 non-null    object
 4   Vessels in Port            480 non-null    int64
 5   Departures(Last 24 Hours)  480 non-null    int64
 6   Arrivals(Last 24 Hours)    480 non-null    int64
 7   Expected Arrivals          480 non-null    int64
 8   Type                       480 non-null    object
 9   Area Local                 480 non-null    object
 10  Area Global                480 non-null    object
 11  Also known as              480 non-null    object
dtypes: int64(5), object(7)
memory usage: 45.1+ KB

In [2]:
vip = data["Vessels in Port"]

In [3]:
(vip/10).astype(bool).head()

0    True
1    True
2    True
3    True
4    True
Name: Vessels in Port, dtype: bool

In [4]:
len(data["Country"].unique())

data["Country"].value_counts().head(3)

China          122
USA             45
Netherlands     38
Name: Country, dtype: int64

In [5]:
wo_unc = data[data["UN Code"].isna()][["Country","Port Name"]].reset_index(drop=True)

In [6]:
wo_unc

      Country          Port Name
0   Singapore     SINGAPORE ANCH
1       China            PINGTAN
2       China        NINGBO ANCH
3       China     MEIZHOU ISLAND
4      France  LA ROCHELLE VIEUX
5      Russia  KAVKAZ SOUTH ANCH
6       China             QUSHAN
7      Brazil        SANTOS ANCH
8   Australia      MANLY HARBOUR
9       China            JINTANG
10     Canada           VAN ISLE
11     Brazil     PARANAGUA ANCH

In [7]:
data["Country_lower"] = data["Country"].str.lower()

In [8]:
data.head()

,Unnamed: 0,Country,Port Name,UN Code,Vessels in Port,Departures(Last 24 Hours),Arrivals(Last 24 Hours),Expected Arrivals,Type,Area Local,Area Global,Also known as,Country_lower
0,0,China,SHANGHAI,CNSHG,2420,1376,1626,644,Port,East China Sea,Central China,"['SHANG HAI', ' YANGSHAN', ' CNSHA', ' CNSGH']",china
1,1,China,NANTONG,CNNTG,1572,1173,1287,234,Port,East China Sea,Central China,['NAN TONG'],china
2,2,China,CJK,CNCJK,1529,343,370,310,Anchorage,East China Sea,Central China,"['CHANGJIANGKOU', ' CHANGJIANG KOU', ' CJK CN']",china
3,3,China,NANJING,CNNKG,1414,667,1060,203,Port,East China Sea,Central China,"['NAN JING', ' NAN JIN', ' NANJIN']",china
4,4,China,JIANGYIN,CNJIA,1112,1076,1070,166,Port,East China Sea,Central China,"['-', ' JANG JIN', ' JIANG YIN']",china

In [9]:
# na_values/ duplicates
# - fill, drop
# dropping columns
# - saving csv's

In [10]:
sum(data["UN Code"].isna())

12

In [11]:
sum(data["UN Code"].notnull())

468

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 480 non-null    int64
 1   Country                    480 non-null    object
 2   Port Name                  480 non-null    object
 3   UN Code                    468 non-null    object
 4   Vessels in Port            480 non-null    int64
 5   Departures(Last 24 Hours)  480 non-null    int64
 6   Arrivals(Last 24 Hours)    480 non-null    int64
 7   Expected Arrivals          480 non-null    int64
 8   Type                       480 non-null    object
 9   Area Local                 480 non-null    object
 10  Area Global                480 non-null    object
 11  Also known as              480 non-null    object
 12  Country_lower              480 non-null    object
dtypes: int64(5), object(8)
memory usage: 48.9+ KB

In [13]:
new_data  = data[data["UN Code"].isna()][["Type", "Port Name"]].reset_index(drop=True)

In [14]:
new_data["Type"] = new_data["Type"].str.upper()

In [15]:
new_data.to_csv("Codeless_ports.csv", index=False)

In [16]:
new_data.drop_duplicates()

         Type          Port Name
0   ANCHORAGE     SINGAPORE ANCH
1        PORT            PINGTAN
2   ANCHORAGE        NINGBO ANCH
3        PORT     MEIZHOU ISLAND
4        PORT  LA ROCHELLE VIEUX
5   ANCHORAGE  KAVKAZ SOUTH ANCH
6        PORT             QUSHAN
7   ANCHORAGE        SANTOS ANCH
8      MARINA      MANLY HARBOUR
9        PORT            JINTANG
10     MARINA           VAN ISLE
11  ANCHORAGE     PARANAGUA ANCH

In [18]:
for group_name, group_df in new_data.groupby("Type"):
    # print(group_name)
    print(group_df)

         Type          Port Name
0   ANCHORAGE     SINGAPORE ANCH
2   ANCHORAGE        NINGBO ANCH
5   ANCHORAGE  KAVKAZ SOUTH ANCH
7   ANCHORAGE        SANTOS ANCH
11  ANCHORAGE     PARANAGUA ANCH
      Type      Port Name
8   MARINA  MANLY HARBOUR
10  MARINA       VAN ISLE
   Type          Port Name
1  PORT            PINGTAN
3  PORT     MEIZHOU ISLAND
4  PORT  LA ROCHELLE VIEUX
6  PORT             QUSHAN
9  PORT            JINTANG