In [2]:
import pandas as pd

In [ ]:
# Series

x = [1,2,3,4,5]

x_s = pd.Series(x, index=["a","b","c","d","e"])
x_s['a'] = 4

In [4]:
x = [
    {'id':1,'name': 'ash', 'age': 5, 'gender': 'M'},
    {'id':2,'name': 'NA', 'age': 5, 'gender': 'M'},
    {'id':3,'name': 'charan', 'age': 7, 'gender': 'F'},
    {'id':4,'name': 'NA', 'age': 12, 'gender': 'F'},
]

x_df = pd.DataFrame(x)
# x_df.drop(1, inplace = True)

x_df.set_index("id", inplace=True)

x_df

      name  age gender
id
1      ash    5      M
2       NA    5      M
3   charan    7      F
4       NA   12      F

In [106]:
x_df.iloc[1]

name      bhumit
age          NaN
gender         F
Name: 2, dtype: object

In [107]:
x_df["name"]

id
1       ash
2    bhumit
3    charan
Name: name, dtype: object

In [108]:
x_df.loc[1]

name      ash
age       5.0
gender      M
Name: 1, dtype: object

In [112]:
x_df.at[1,"name"] # first row, then column

'ash'

In [114]:
x_df.iat[0,0]

'ash'

In [ ]:
# create a pandas dataframe with atleast 5 rows and 3 columns