In [ ]:
import pandas as pd

In [78]:
port_df = pd.read_csv("Port_Data.csv", index_col="Index", na_values=["['-']", "Unknown"])

# port_df["Port"] = port_df["Port Name"]
# port_df.drop("Port Name", axis = 1 ,inplace = True)

# port_df.to_csv("Port_Data_new.csv", index=False)
port_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 0 to 479
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    480 non-null    object
 1   Port Name                  480 non-null    object
 2   UN Code                    468 non-null    object
 3   Vessels in Port            480 non-null    int64
 4   Departures(Last 24 Hours)  480 non-null    int64
 5   Arrivals(Last 24 Hours)    480 non-null    int64
 6   Expected Arrivals          480 non-null    int64
 7   Type                       480 non-null    object
 8   Area Local                 480 non-null    object
 9   Area Global                480 non-null    object
 10  Also known as              262 non-null    object
dtypes: int64(4), object(7)
memory usage: 45.0+ KB

In [84]:
# hv_port_df = port_df[port_df["Vessels in Port"] > port_df["Vessels in Port"].mean()]

# get port names where departures are greater than arrivals
port_df[(port_df["Departures(Last 24 Hours)"] < port_df["Arrivals(Last 24 Hours)"]) | (port_df["Vessels in Port"] > 100)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 0 to 479
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    368 non-null    object
 1   Port Name                  368 non-null    object
 2   UN Code                    358 non-null    object
 3   Vessels in Port            368 non-null    int64
 4   Departures(Last 24 Hours)  368 non-null    int64
 5   Arrivals(Last 24 Hours)    368 non-null    int64
 6   Expected Arrivals          368 non-null    int64
 7   Type                       368 non-null    object
 8   Area Local                 368 non-null    object
 9   Area Global                368 non-null    object
 10  Also known as              212 non-null    object
dtypes: int64(4), object(7)
memory usage: 34.5+ KB

In [85]:
port_df[(port_df["Departures(Last 24 Hours)"] < port_df["Arrivals(Last 24 Hours)"]) & (port_df["Vessels in Port"] > 100)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 192
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    138 non-null    object
 1   Port Name                  138 non-null    object
 2   UN Code                    133 non-null    object
 3   Vessels in Port            138 non-null    int64
 4   Departures(Last 24 Hours)  138 non-null    int64
 5   Arrivals(Last 24 Hours)    138 non-null    int64
 6   Expected Arrivals          138 non-null    int64
 7   Type                       138 non-null    object
 8   Area Local                 138 non-null    object
 9   Area Global                138 non-null    object
 10  Also known as              90 non-null     object
dtypes: int64(4), object(7)
memory usage: 12.9+ KB

In [90]:
# port_df[port_df["Also known as"].notnull()]
port_df.dropna(subset=["UN Code", "Also known as"], inplace = True)

In [91]:
port_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 257 entries, 0 to 476
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    257 non-null    object
 1   Port Name                  257 non-null    object
 2   UN Code                    257 non-null    object
 3   Vessels in Port            257 non-null    int64
 4   Departures(Last 24 Hours)  257 non-null    int64
 5   Arrivals(Last 24 Hours)    257 non-null    int64
 6   Expected Arrivals          257 non-null    int64
 7   Type                       257 non-null    object
 8   Area Local                 257 non-null    object
 9   Area Global                257 non-null    object
 10  Also known as              257 non-null    object
dtypes: int64(4), object(7)
memory usage: 24.1+ KB

In [ ]:
port_df.tail(3)

In [ ]:
port_df.info()

In [ ]:
port_df[["Port Name", "Vessels in Port"]].iloc[10:20]

In [ ]:
# if the country name is china and the type is anchorage

# if arrivals are greater than the departures by a 100

# create an array where all null value rows are deleted, and create another array where the null values column is deleted

# if the vessles in port and greater than a 1000 or the depatures are greater than 200

# where expected arrivals are higher than acutal arrivals, print out the middle 10 rows with just 3 columns

# print out the median / mode value for Expected arrivals